<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Invalid</title>
</head>
<body>
    <div id="success" style="background-color: rgb(235, 167, 167);">
        <h1>The id or the username is already taken</h1>
        <h3>Make sure to use unique id and username</h3>
        <p><a href="/">Click here to enter the details again</a></p>
    </div>
</body>
</html>